@{
    ViewBag.Title = "Contacto";
}


<h2>@ViewBag.Title</h2>

<h3>Contactate mediante los siguientes datos ante cualquier inquietud</h3>

<hr/>
<h4>Domicilio</h4>
<address>
    Calle Roma<br />
    Córdoba, Córdoba X5000<br />
    <abbr title="Phone">Tel:</abbr>
    +54 0351 152833377
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:antonioortega130685@gmail.com">antonioortega130685@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:antonioortega130685@gmail.com">antonioortega130685@gmail.com</a>
</address>

